<p>Pelicula favorita</p>

{{datoServicio}}

<button (click)="clicked(mostrarDatos)" [class.showingData]="mostrarDatos === true">Mostrar datos</button>
<button (click)="clicked(mostrarDatos)" [class.showingData]="mostrarDatos === false">Ocultar datos</button>

  <ul *ngIf="mostrarDatos === true">
      <li>Titulo: {{pelicula.titulo}}</li>
      <li>Director: {{pelicula.director}}</li>
      <li>Año: {{pelicula.anio}}</li>
  </ul>
  <p>
    Cambiar titulo:
    <input type="text" (keypress)="holaMundo()" [(ngModel)]="pelicula.titulo"/>
  </p>
  <hr/>
  <p>Listado de peliculas:</p>
  <ul>
    <ul *ngFor="#pelicula of peliculas" style="margin-bottom: 20 px;">
      <li (click)="onCambiarPelicula(pelicula)" class="pelicula-title" [class.clicked]="peliculaElegida.id === pelicula.id">Titulo: {{pelicula.titulo}}</li>
      <li>Director: {{pelicula.director}}</li>
      <li *ngIf="pelicula.anio ">Año: {{pelicula.anio}}</li>
      <li><a [routerLink]="['CrearPeliculaBasadaEnOtra', {titulo:pelicula.titulo}]"> Añadir pelicula basada en esta</a></li>
      <br>
    </ul>
  </ul>
